.overall{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.wins-losses{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
}




.rock {
    height: 150px;
    width: 150px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    
} 

.paper {
    height: 150px;
    width: 150px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
} 

.scissors {
    height: 150px;
    width: 150px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
} 

.home-btn{
    background-color: rgb(245, 245, 245);
    height: 25px;
    width: 70px;
    justify-self: center;
    margin: 0 auto;
    position: relative;
    top: 100px;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    transition: .25s ease-out;
}

.home-btn:hover{
    transition: .25s ease-in;
    background-color: black;
    color: whitesmoke;
}

.res-img {
    /* height: 100px;
    width: 100px; */
    height: 100px;
    width: 100px;
    animation-name: player1A;
    animation-duration: 2.3s;
    position: relative;
    animation-iteration-count: infinite;
    margin-right: 20px;
    margin-bottom: 20px;
}

.res-img2 {
    /* height: 100px;
    width: 100px; */
    height: 100px;
    width: 100px;
    animation-name: player2A;
    animation-duration: 2.3s;
    position: relative;
    animation-iteration-count: infinite;
    margin-left: 20px;
    margin-bottom: 20px;
}


.res-container{
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
}

.super-container{
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

@keyframes player1A {
   50%{transform: rotate(-80deg);}
}

@keyframes player2A {
    50%{transform: rotate(80deg);}
}
